#Nom{
    color: #0475DE;
    text-align: center;
    font-family: 'Fredoka', sans-serif;;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Pour Rendre le text en deux couleurs différents:*/
#Dev-inf{
    color: #ffb30e;
    text-align: center;
    font-family:'Playfair Display', serif;
}
.menu-contered{
    color: #39CCCC;
}
li{
    list-style: none;
}

.list li{
    display: inline;
    color: #2ba6cb;
    padding: 0.7rem 1rem;
    line-height: 1;
    padding: 10px;
    margin: 9px;
    text-align: center;
    
}
i {
    color: #39cccc;
}

#list-Education{
    display: flex;
    list-style: none;
    color: #2ba6cb;
    text-decoration: none;
}
#list-Education p{
    color: #000;
}

.interets span {
    font-size: 2.4em;
    margin: 5px;
    line-height: 1.6em;
    display: block;
}

.divButton {
    text-align:center;
}

.python, .MySQL, .R, .c , .js{
    background-color: #ebba1a;
    color: rgb(255, 255, 255);
}

#Lang-Info{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}